.col2 {
  column-count: 3;

}
.column {
  border: 2px solid green;
  padding: 4px
  margin: 12px;
  background-color: yellow;
}
body {
  background-color: tan;
}
.column p {
  color: blue;
}

.column ul {
  color: pink;
  font-style: italics;
  font-size: 20px;
}
